@import "tailwindcss";
*{
  scroll-behavior: smooth;
}
body{
 body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/background.jpg'); /* path relative to index.css */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

}